clone okex-api-v5 from "https://github.com/coinrising/okex-api-v5"

git clone https://github.com/jane-cloud/Open-API-SDK-V5.git # for using trailing stop [just copy the 'okx' dir from 'Open-API-SDK-V5/okx-python-sdk-api-v5' ]


#  Telethon==1.24.0

# pip install git+https://github.com/kshubham506/Telethon.git

Pyrogram==2.0.19

TgCrypto==1.2.3